{
  "sourceMaps": true,
  "presets": [
      ["@babel/preset-env"],
  ],
  "plugins": [
      ["@babel/plugin-transform-react-jsx", { "pragma": "h" }],
      ["@babel/transform-flow-comments"],
      ["@babel/plugin-proposal-class-properties"]
  ]
}
