@import '~style/helpers';

.nodeEntry {
    overflow: scroll;

    span[value=name] {
        display: inline;
        color: white;
    }

    span[value=value] {
        display: inline;
        color: black;
    }
    
}
