@import '~style/helpers';

.node {
	top : 10%;
    bottom: 10%;
	background: black;
    left: 35%;
    right:35%;
    width: auto;
    position: absolute;
    border-radius: 2%;
    border: 2px solid;
    color : white;
    h1 {
        background: @lightBlue;
        position: relative;
        text-align: center;
    }

    h2 {
        position: relative;
        text-align: center;
    }
    
    p {
        
    }
    
    ul {
        list-style-type: none;
        text-align: center;
        padding: 0;
    }
}

h2.tags {
    background: @red;
}

h2.values {
    background: @green;
}

ul.tags > li {
    background: @red;
    display: inline-block;
    padding: 1%;
    margin: 1%;
    width: auto;
}

ul.values > li {
    background: @green;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 2%;
}
