@import '~style/helpers';

.node {
	top : 10%;
    bottom: 10%;
	background: black;
    left: 35%;
    right:35%;
    width: auto;
    position: absolute;
    border-radius: 2%;
    border: 2px solid;

    h1 {
    	position: relative;
        text-align: center;
    }

    ul {
    text-align: left;
    }
}
